<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" receiveTimeout="02:00:00" maxReceivedMessageSize="655360000"  maxBufferPoolSize="2147483647" transferMode="Buffered"  maxBufferSize="655360000" maxConnections="10">
          <readerQuotas  maxDepth="2000001" maxStringContentLength="2000001"   maxArrayLength="2000001" maxBytesPerRead="2000001" maxNameTableCharCount="2000001"/>
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>

    </bindings>
    <services>
      <service name="WIPWcfService.WipService" behaviorConfiguration="MEX">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:4502/WIPWcfService/"/>
          </baseAddresses>
        </host>
        <endpoint
           address=""
           binding="netTcpBinding"
           bindingConfiguration="NewBinding0"
           contract="WIPWcfService.IWipService"
        />
        <endpoint
          address="MEX"
          binding="mexTcpBinding"
          contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="MEX">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
